/* primary-color-light : #48cae4
primary-color : #0096c7
primary-color-dark : #023e8a */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  background-image: linear-gradient(to bottom right, #48cae485, #023d8a85),
    url(https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #023e8a;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo {
  color: #023e8a;
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: #023e8a;
}

@media screen and (max-width: 1065px) {
  .nav-menu {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    cursor: pointer;
  }
  .nav-menu {
    position: absolute;
    top: 6vh;
    right: 0;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;

    width: 50%;
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in;
  }
  .nav-menu li {
    /* opacity: 0; */
  }
}

.partner {
  min-height: 20vh;
  padding: 20px;
  background-color: #e6e8e9;
  text-align: center;
}

.prtn-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prtn-img img {
  width: 100px;
  margin: 35px;
}
